############################

# Google Books
GOOGLE_BOOKS_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# Cloudinary
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gmail
PASSWORD_EMISOR=

############################

# Flask
SECRET_KEY=

###########################

# BASE DE DATOS

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=

###########################
